  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar7">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar7"> <a class="navbar-brand text-primary d-none d-md-block" href="#"><i class="fa fa-cubes fa-2x"></i>
          <b> BragDevTeam<br></b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item links text-dark"> <a class="nav-link active" href="/home">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/servicos">Serviços</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/sobre">Sobre<br></a> </li>
          <li class="nav-item"> <a class="nav-link" href="/contato">Contato<br></a> </li>
          <li class="nav-item" >
            <div class="dropdown">
              <a class=" dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Show Room</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/ecommmerce/prestashop">E-commerce - PrestaShop</a>
                <a class="dropdown-item" href="/ecommerce/magento">E-commerce - Magento</a>
                <a class="dropdown-item" href="/ecommerce/opencart">E-commerce - OpenCart</a>
                <a class="dropdown-item" href="/mobile/android">App Android</a>
               
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="#">
              <i class="fa fa-twitter fa-fw text-primary"></i>
            </a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">
              <i class="fa fa-facebook fa-fw text-primary"></i>
            </a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">
            </a> </li>
        </ul>
      </div>
    </div>
  </nav>