  <div class="mx-auto py-1 " style="	background-image: linear-gradient(to top, rgba(00,5a, a7, 0.2), rgba(ff, fd, e4, 0.9))">
    <div class="container " style="	background-image: linear-gradient(to bottom, rgba(E0,EA,FC,0.8), rgba(0,0,0,0.3));">
      <div class="row w-100">
        <div class="col-sm-12 mx-2" style="">
          <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"> </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"> </li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active"> <img class="d-block w-100 mx-auto" src="../dev_web/IMG_EDITADA/paralax-1-home.jpg">
                <div class="carousel-caption h-25 mb-2" style="	background-image: linear-gradient(to bottom, rgba(2, 1, 1, 0.5), rgba(1, 1, 1, 0.7));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                  <h5 class="display-4">Desenvolvimento mobile</h5>
                  <p style=""> Criamos seu App fazendo com que você aumente suas oportunidades de negócio. </p>
                </div>
              </div>
              <div class="carousel-item"> <img class="d-block w-100" src="../dev_web/IMG_EDITADA/apps.jpg">
                <div class="carousel-caption mb-2" style="	background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 0.4));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                  <h5 class="display-4">Transforme sua ideia</h5>
                  <p class="text-white text-center" style="	min-width: 25px;	min-height: 25px;">Várias empresas tem aumentado significantemente a sua participação no mercado por meio de aplicativos móveis.</p>
                </div>
              </div>
              <div class="carousel-item"> <img class="d-block w-100" src="../dev_web/IMG_EDITADA/celular.jpg">
                <div class="carousel-caption mb-2" style="	background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 0.4));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                  <h5 class="display-4">Desenvolvimento mobile</h5>
                  <p style=""> Criamos seu App fazendo com que você aumente suas oportunidades de negócio. </p>
                </div>
              </div>
              <div class="carousel-item"> <img class="d-block w-100" src="../dev_web/IMG_EDITADA/black-friday.jpg">
                <div class="carousel-caption mb-2" style="	background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 0.4));	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
                  <h5 class="display-4">Desenvolvimento e configuração de e-commerce</h5>
                  <p style="">Você precisa entrar no ramo do comércio eletrônico ? nos criaremos a sua loja. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 " style="	background-image: url(&quot;../dev_web/IMG_EDITADA/compactadas/bg-2.png&quot;);	background-position: left;	background-repeat: no repeat;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 style="font-family:'PT Sans Narrow';" class="text-center text-white">"Sucesso é a habilidade de ir de fracasso em fracasso sem perder o entusiasmo."<br>&nbsp;(Winston Churchil)<br></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-secondary">Configuração de plataformas de e-commerce</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 fa-line-chart icon-vantagens text-primary"></i>
          <h4> <b>Aumentar vendas</b></h4>
          <p>Com uma plataforma de e-commerce você pode aumentar suas vendas e criar novas oportunidades de negócio.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 fa-credit-card text-primary"></i>
          <h4> <b>Pagamentos</b></h4>
          <p>Oferecendo diferentes formas de pagamento você pode aumentar suas vendas e fidelizar seus clientes.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 fa-truck text-primary"></i>
          <h4> <b>Envio</b></h4>
          <p>Entregue seus produtos em todos os cantos do Brasil com integração com as maiores transportadoras.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 fa-clock-o text-primary"></i>
          <h4> <b>24 Horas</b></h4>
          <p>Com uma plataforma de e-commerce você passa a vender seus produtos 24 horas por dia, 7 dias por semana.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="text-secondary">Desenvolvimento de Aplicativos móveis</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 fa-mobile fa-mobil text-primary"></i>
          <h4> <b>Dinâmico</b></h4>
          <p>Com um app, você mantêm seus clientes atualizados e agiliza a interação com seu cliente.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 fa-mobile text-primary fa-handshake-o"></i>
          <h4> <b>Relacionamento</b></h4>
          <p>Um aplicativo móvel vai estreitar o relacionamento com seus clientes.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 text-primary fa-bullhorn"></i>
          <h4> <b>Marketing</b></h4>
          <p>Um Aplicativo móvel tem impacto significativo na diminuição de custos com marketing.</p>
        </div>
        <div class="col-lg-3 col-6 p-4"> <i class="d-block fa fa-3x mb-2 text-primary fa-map-marker"></i>
          <h4> <b>Qualquer lugar</b></h4>
          <p>Uma grande vantagem que os aplicativos móveis te oferecem é fazer com que seu cliente te encontre, não importa onde ele esteja.</p>
        </div>
      </div>
    </div>
  </div>