<div class="py-5 text-center text-md-right" style="background-image: url(../dev_web/IMG_EDITADA/app-business-connection-221185.jpg);	background-position: right bottom;	background-size: cover;	background-repeat: repeat; background-attachment: fixed;">
  </div>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">PRESTASHOP&nbsp;<br></h1>
          <div class="row">
            <div class="col-md-12"><img class="d-block mx-auto rounded img-fluid" src="../dev_web/PrestaShop-logo-2015/PrestaShop-Glyph-2015/glyph-2015.png"></div>
          </div>
          <p>PrestaShop é uma plataforma de e-commerce gratuíta e open source, com milhares de desenvolvedores que tabalham com esta plataforma de e-commerce. O PrestaShop já vem com diversos recursos e possui uma vasta comunidade que desenvolve módulos que podem ampliar as capacidades desta plataforma. Altamente customizável, o PrestaShop possui uma vasta gama de temas que podem deixar sua loja mais atrativa para os clientes.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-4">Benefícios de usar a plataforma PrestaShop</h1>
          <div class="row">
            <div class="col-lg-5 col-md-6 p-md-4 col-3"> <img class="img-fluid d-block" src="../dev_web/Media-Kit-ScreenShots/PrestaShop-BackOffice.jpg" width="1500"> </div>
            <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
              <h2 class="my-3"> <b>Utilidade</b></h2>
              <p class="lead">Com um painel administrativo com inumeras funcionalidades, você terá uma enorme facilidade em atender seus clientes e todas as informações importantes estaram a seu alcance.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center order-2 order-md-1 py-4">
              <h2 class="my-3"> <b>Beleza e atratividade</b></h2>
              <p class="lead">O PrestaShop possui um tema padrão responsivo e e personalizavel. e como primeiro item a ser avaliado pelos seus clientes, o visual do seu site deve ser bem trabalhado, e o PrestaShop possui uma vasta quantidade de temas que vai deixar seu e-commerce mais atrativo para seus clientes.</p>
            </div>
            <div class="col-lg-5 col-md-6 p-md-4 col-3 offset-lg-1 order-1 order-md-2"> <img class="img-fluid d-block" src="../dev_web/Media-Kit-ScreenShots/PrestaShop-FrontOffice.jpg" width="1500"> </div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-6 p-md-4 col-3"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-3.svg" width="1500"> </div>
            <div class="col-md-6 offset-lg-1 d-flex flex-column justify-content-center py-4">
              <h2 class="my-3">Confiabilidade e velocidade</h2>
              <p class="lead">A comunidade PrestaShop está sempre disponibilizando atualizações, nunca deixando de zelar pela segurança dos dados de seus usuários. O PrestaShop também é rápido em atender as requisições dos clientes, não demandando servidores extremamente rápidos e caros para sua hospedagem.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>